// Colors
$white: #fff;
$black: #000;
$salmon100: #f39679;
$salmon200: #f28a6a;
$salmon300: #f17c58;
$salmon400: #e76b45;

// Buttons
$primary: #ef6d45;
$secondary: $white;

// Text colors
$formLabel: #cf8f7c;
